@model Productos
<section class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <article class="border rounded p-5">
        <form asp-asp-controller="Productos" asp-action="CrearProducto" method="post">
            <section class="form-group p-2">
                <label asp-for="Descripcion" class="form-label">Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control-sm">
            </section>
            <section class="form-group d-flex justify-content-between p-2">
                <label asp-for="Precio" class="form-label">Precio</label>
                <input type="number" asp-for="Precio" class="form-control-sm">
            </section>
            <section class="form-group p-2">
                <input type="submit" value="crear" class="btn btn-primary">
                <a class="btn btn-danger " asp-controller="Productos" asp-action="Index">volver</a>
            </section>
        </form>
        @*// asp-for conecta los modelos con el formulario, es decir que automaticamente se crea el objeto*@
    </article>
</section>
@*el @model: 
*Recibe datos: Cuando el controlador renderiza una vista, el modelo contiene los datos que se mostrarán.
*Envía datos: Cuando el formulario se envía al servidor, el modelo puede usarse para mapear los datos enviados.
en este caso se los enviamos al formulario (te das cuenta si en el controlador retorna la vista sola o con algo, si va vacia el model en la vista envia los datos, si retorna algo, el model recibe los datos en la vista)*@