@model Productos
<section class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <article class="border rounded p-5">
        <form asp-asp-controller="Productos" asp-action="ModificarProducto" method="post">
            <section class="form-group p-2">
                <label asp-for="Descripcion" class="form-label">Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control-sm" value="@Model.Descripcion">
            </section>
            <section class="form-group d-flex justify-content-between p-2">
                <label asp-for="Precio" class="form-label">Precio</label>
                <input type="number" asp-for="Precio" class="form-control-sm" value="@Model.Precio">
            </section>
            <input type="hidden" asp-for="IdProducto" value="@Model.IdProducto"> @*no hace falta el @model.idproducto por defecto con el asp-for ya lo envia*@
            <section class="form-group p-2">
                <input type="submit" value="modificar" class="btn btn-primary">
                <a class="btn btn-danger " asp-controller="Productos" asp-action="Index">volver</a>
            </section>
        </form>

    </article>
</section>